.App {
  min-height: 100vh;
}
.dual-container {
  display: flex;
  justify-content: center;
  max-width: 740px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}
.time-sets {
  display: grid;
  grid-template-columns: 50px 180px 50px;
  justify-items: center;
  align-items: center;
}
#break-length,
#session-length {
  background-color: black;
  border-radius: 5px;
  padding: 4px;
}
.medium {
  color: #ad1457;
  margin-top: 3rem;
}
.sha,
h2,
h3,
h4 {
  filter: drop-shadow(0.1em 0em 0.2rem rgb(0, 0, 0));
}
#reset,
#start_stop {
  margin: 8px;
}
.component-container {
  margin: 10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 10px;
}
#time-left {
  margin: 0 auto;
  border-radius: 5px;
  width: 174px;
  padding: 4px;
}
/* responsive layout media queries */
@media (max-width: 767.98px) {
  .dual-container {
    max-width: 280px;
    flex-direction: column;
  }
  h2 {
    font-size: 3rem;
    margin: 1rem;
  }
}